html {
	scroll-behavior: smooth;
}

body{
	background-color: #ffffff;
	font-size: 80%;
}

h1 {
	text-align:center;
}

li {
	margin-left:3em;
}

h3 {
	text-align:center;
	padding:4em;
}

footer{
	background-color: gray;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	position: absolute;
	bottom: -10;
	left: 0;
	padding-top:2em;
	padding-bottom:2em;
	text-indent: 1em;
}
